<mat-card>
  <mat-card-header>
    <mat-card-title>{{song.name}}</mat-card-title>
    <mat-card-subtitle mat-display-4>By:
      <span *ngFor="let artist of song.artists">{{artist | uppercase}},</span>
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
        Released On: {{song.release_data | date}}
    </p>
  </mat-card-content>
  <!--TODO add option to add to playlist-  select from list of playlists-->
  <mat-card-actions>
    <button mat-fab>
      <mat-icon>play_arrow</mat-icon>  
    </button>
    <button mat-fab>
      <mat-icon >playlist_add</mat-icon>  
    </button>
  </mat-card-actions>
</mat-card>