<mat-card *ngIf="song">
  <mat-card-header>
    <mat-card-title>{{song.name}}</mat-card-title>
    <mat-card-subtitle mat-display-4><b>By: </b>
      <span *ngFor="let artist of song.artists">{{artist | uppercase}}, </span>
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
        Released On: {{song.release_data | date}}
    </p>
  </mat-card-content>

  <app-song-tool-bar [song]="song"></app-song-tool-bar>
</mat-card>