<!--TODO on add to playlist - select from list of playlists-->

<mat-card-actions>
  <!-- ! TODO add service to connect between 2 song-tool-bars: in song details and it's equivalent in song-list-->
    <button mat-mini-fab (click)="onAddToQueue()">
        <mat-icon title="Add song to the queue">queue_music</mat-icon>  
    </button>
    <button mat-mini-fab (click)="onPlay()">
      <mat-icon title="Play now">play_arrow</mat-icon>  
    </button>
    <button mat-mini-fab (click)="onAddToPlaylist()">
      <mat-icon title="Add to playlist">playlist_add</mat-icon>  
    </button>
    <!--TODO add to user list of songs he have liked-->
    <!--TODO add the calss based on if userm liked or not-->
    <!-- ! TODO add service to connect between 2 song-tool-bars: in song details and it's equivalent in song-list-->
    <button mat-mini-fab [class.liked]="songLiked" (click)="onLikeToggle()">
        <mat-icon title="Like">thumb_up</mat-icon>  
    </button>
</mat-card-actions>