button, a {
    margin-left: 10px;
}

button.liked {
    background-color: rgb(0, 132, 255);
}

mat-card{
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}
mat-card-actions {
    margin:0;
}
mat-card-actions button, mat-card-actions a {
    margin-bottom: 10px;
}