<mat-card-actions>
    <button mat-mini-fab (click)="onAddToQueue()">
        <mat-icon title="Add to queue">queue_music</mat-icon>  
    </button>
    <button mat-mini-fab (click)="onPlay()">
      <mat-icon title="Play now">play_arrow</mat-icon>  
    </button>
    <button *ngIf="isConnected" mat-mini-fab (click)="onAddToPlaylist()">
      <mat-icon title="Add to playlist">playlist_add</mat-icon>  
    </button>
    <button *ngIf="isConnected" mat-mini-fab [class.liked]="songLiked" (click)="onLikeToggle()">
        <mat-icon *ngIf="song"
                  title="Like"
                  [matBadge]="song.num_of_times_liked"
                  matBadgePosition="before" >
                  thumb_up
        </mat-icon>
    </button>

    <a mat-mini-fab *ngIf="isConnected" [routerLink]="['/edit_song', song.id]">
      <mat-icon title="Edit">edit</mat-icon> 
    </a>
    <button mat-mini-fab *ngIf="isConnected" (click)="onDelete()" color="warn">
      <mat-icon title="Delete">delete</mat-icon>  
    </button>
</mat-card-actions>

<mat-card *ngIf="playlists" >
  <mat-selection-list >
    <mat-list-option *ngFor="let playlist of playlists" (click)="onAddSongToPlaylist(playlist)">
      {{playlist.name}}
    </mat-list-option>
  </mat-selection-list>
  <button mat-mini-fab>
    <mat-icon title="Add new song" (click)="saveToPlaylists(song)">save</mat-icon>  
  </button>
</mat-card>