<mat-toolbar color="blue">
    <div class="header-item">
        <a mat-raised-button class="link" routerLink="/">Vbeat</a>
    </div>

    <div id="rightSide" class = "space">
        <ul>

            <li>
                <a class="link" mat-raised-button routerLink="/quick_search">Quick Search</a>
            </li>
            <li>
                <a class="link" *ngIf="loggedIn" mat-raised-button routerLink="/user_details">User Details</a>
            </li>

            <li>
                <a class="link" *ngIf="loggedIn" mat-raised-button routerLink="/song_search">Search Song</a>
            </li>


            <li>
                <a class="link" *ngIf="loggedIn" mat-raised-button routerLink="/playlist_search">Search Playlist</a>
            </li>

            <li>
                <a class="link" *ngIf="loggedIn && user.role==artistRole" mat-raised-button routerLink="/create_song">New Song</a>
            </li>
            <li>
                <a class="link" *ngIf="loggedIn" mat-raised-button routerLink="/playlist">Playlists</a>
            </li>
            <li>
                <a class="link" *ngIf="loggedIn" mat-raised-button routerLink="/create_playlist">New Playlist</a>
            </li>
	    <li>
	    	<a class="link" *ngIf="loggedIn" mat-raised-button (click)="onLogoutClicked()">Logout</a>
	    </li>
            <li>
                <a class="link" *ngIf="loggedIn == false" mat-raised-button routerLink="/login">Log In</a>
            </li>
            <li>
                <a class="link" *ngIf="loggedIn == false" mat-raised-button routerLink="/signup">Sign Up</a>
            </li>
        </ul>
    </div>
</mat-toolbar>
