ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#rightSide{
    list-style: none;
    right: 20px;
    position: absolute;
}

.link{
    color: white;
}

li{
    flex: 1 1 auto;
}
