ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

a:hover{
    text-decoration: none;
    background-color: olivedrab;
}

div#rightSide{
    list-style: none;
    right: 20px;
    position: absolute;
}

div#rightSide ul li a {
    margin-left: 10px;
}

.link{
    color: white;
}

