<mat-card>
  <form (submit)="onSubmit(newForm)" #newForm="ngForm">
      <!-- NAME -->
      <mat-form-field appearance = "legacy" color = "accent">
          <input 
            matInput 
            placeholder = "Name"
            name = "name"
            ngModel
            required
            minlength = 4
            #name = "ngModel">
          <mat-hint> At least 4 characters </mat-hint>
          <mat-error *ngIf = "name.invalid"> Name is should be at least 4 characters long </mat-error>
      </mat-form-field>
      <!-- END -->

      <!-- GENRE -->
      <mat-form-field appearance = "legacy" color = "accent">
          <mat-select 
              placeholder = "Genre"
              name = "genre"
              ngModel
              required
              #genre = "ngModel">
              <mat-option
                *ngFor = "let genre of genre_options" 
                [value]="genre">
                {{ genre }}
              </mat-option>
          </mat-select>
          <mat-hint> Please select a genre </mat-hint>
          <mat-error *ngIf = "genre.invalid"> Please select one genre </mat-error>
      </mat-form-field>
      <!-- END -->
      
      <!-- SONG PATH -->
      <mat-form-field appearance = "legacy" color = "accent">
          <input 
            matInput 
            type = "url"
            pattern="https?://\S+"
            placeholder = "Song path"
            name = "song_path"
            ngModel
            required
            #path = "ngModel">
          <!--TODO ???? maybe change to local file upload ?????????-->
          <mat-hint>Please enter song url to be uploaded</mat-hint> 
          <mat-error *ngIf="path.invalid">Not a valid URL</mat-error>
      </mat-form-field>
      <!-- END -->
     
      <!-- IMAGE PATH -->
      <mat-form-field appearance = "legacy" color = "accent">
          <input 
            matInput 
            type = "url"
            pattern="https?://\S+"
            placeholder = "Song image path"
            name = "song_image"
            ngModel
            required
            #image="ngModel">
          <!--TODO ???? maybe change to local file upload ?????????-->
          <mat-hint> Please enter image url to be uploaded </mat-hint> 
          <mat-error *ngIf = "image.invalid"> Not a valid URL </mat-error>
      </mat-form-field>
      <!-- END -->

      <!-- RELEASE DATE -->
      <!-- TODO add validation for future date-->
      <mat-form-field appearance = "legacy" color = "accent">
          <input 
            matInput 
            [matDatepicker] = "picker" 
            placeholder = "Choose release date"
            name = "release_date"
            ngModel
            required
            #release_date="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint> Please choose the date the song was released on (MM/DD/YYYY) </mat-hint> 
          <mat-error *ngIf = "release_date.invalid"> Not a valid date </mat-error>
      </mat-form-field>
      <!-- END -->

      <!-- ARTISTS -->
      
      <!-- INPUT AND AUTO-COMPLETE TO SELECT ARTISTST-->
      <mat-form-field appearance = "legacy" color = "accent">
          <input 
            type="text" 
            placeholder="Artists" 
            matInput 
            [matAutocomplete]="auto"
            [(ngModel)]="prefix"
            name="filter_artist"
            (ngModelChange) = "onSearchArtistChange()">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option 
              *ngFor="let artist of filtered_artists" 
              [value] = "artist"
              (click) = "onSelectArtist(artist)">
              {{ artist.display_name }}
            </mat-option>
          </mat-autocomplete>
          <mat-hint> 
            Enter {{ name_length_to_query }} 
            letter<span *ngIf="name_length_to_query">s</span>
            for auto complete
          </mat-hint> 
      </mat-form-field>
      <!--List displaying the selected artists -->
      <mat-list *ngIf="connectedArtist" role="list">
          <mat-list-item role="listitem" *ngFor="let artist of selected_artists">
              <button mat-mini-fab type="button">
                  <mat-icon 
                    *ngIf="artist.username != connectedArtist.username"
                    title="remove this artist from this song" 
                    (click)="onDeleteSelectedArtist(artist)">
                      delete
                  </mat-icon>
                  <mat-icon 
                    *ngIf="artist.username == connectedArtist.username"
                    title="Cannot remove yourself">
                      person
                  </mat-icon>
              </button>
              <p>{{ artist.display_name }} </p> 
          </mat-list-item>
      </mat-list>
      <!-- END -->
      
      <button 
        mat-mini-fab 
        type="submit">
          <mat-icon title="Add new song">save</mat-icon>  
      </button>

  </form>
</mat-card>