<mat-card>
	<form class="quick-search" (submit)="onEnter(searchfield.value)">
		<mat-form-field>
			<input #searchfield matInput placeholder="Enter multiple keywords seperated by a comma (',')." test="hello">
		</mat-form-field>

		<button 
		mat-mini-fab 
		style="float: right;"
		type="submit">
		  <mat-icon title="Quick Search">find_in_page</mat-icon>  
		</button>
	</form>
</mat-card>
<mat-divider></mat-divider>
<ul>
	<mat-card *ngFor="let song of searchResults">
		<mat-card-header>
			<img mat-card-avatar src="{{song.image_path}}">
			<mat-card-title>
				{{song.name}}
			</mat-card-title>	
			<mat-card-subtitle>
				{{song.genre}}
			</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			Song Stored At: {{song.song_path}}
			<br>
			Has {{song.num_of_times_liked}} Likes
		</mat-card-content>
	</mat-card>
</ul>
