<mat-card>
  <form (submit)="onSearch(searchForm)" #searchForm="ngForm">

    <mat-form-field>
      <input matInput name="songName" ngModel>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="artistName" ngModel>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="genreName" ngModel> <!-- TODO : make this a checkbox with the genre enum -->
    </mat-form-field>

    <button mat-raised-button type="submit"></button>

  </form>
</mat-card>



<!-- alex's code from here -->
<mat-accordion [class.col-sm-7]="selectedSong">

  <mat-expansion-panel *ngFor="let song of songs" (click)="onSelectSong(song)">
    <mat-expansion-panel-header>
      <mat-panel-title class="mat-h2">
          {{ song.name }}
      </mat-panel-title>
      <mat-panel-description>
        <p class="mat-h3" *ngFor="let artist of song.artists">
          {{ artist.display_name }}
        </p>
      </mat-panel-description>
      <mat-panel-description class="mat-h3">
        {{ num_of_times_liked }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p class="mat-h3">
        {{ song.release_date | date}}
    </p>

    <app-song-tool-bar [song]="song"></app-song-tool-bar>

  </mat-expansion-panel>
</mat-accordion>

<div [class.col-sm-5]="song">
  <div *ngFor="let song of songs" >
    <app-song-details [hidden]="song !== selectedSong" [song]="song"></app-song-details>
  </div>
</div>

<!-- ! TODO @alex increase the font size -->
<mat-paginator [length]="totalSongs" [pageIndex]="currentPage-1" [pageSize]="songsPerPage" (page)="onChangePage($event)"></mat-paginator>
