div {
    padding: 0;
}

#name-container {
    background-color: #424242;
    padding: 15px;
}
#name-container h1{
    margin: 0;
    color: floralwhite;
}

app-song-details mat-card{
    display: block;
}

#songs-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 19.5%);
    row-gap: 10px;
    column-gap: 10px;
}

#songs-container div{
    background-color: #424242;
}
