<div id="name-container" *ngIf="playlist">
    <h1> {{playlist.name | uppercase}} </h1> 
</div>

<div id="songs-container" *ngIf="playlist">
    <div *ngFor="let song of playlist.songList">
            <button *ngIf="playlist.name!='LIKED SONGS'" type="button" mat-mini-fab (click)="onDeleteFromPlaylist(song.id)" color="warn">
                    <mat-icon title="Delete from playlist">delete</mat-icon>  
            </button>
            <app-song-details [song]="song"></app-song-details>
    </div>
</div>
 