:host {
    display: block;
    background: url('../assets/background.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
.container {
    width: 90vw;
    height: 100vh;
    margin: auto;
    padding-top:20px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}