<mat-card>
  <form (submit)="onSubmit(newForm)" #newForm="ngForm">
    <!-- USERNAME -->
    <mat-form-field appearance = "legacy" color = "accent">
        <input 
          matInput 
          placeholder = "Username"
          name = "username"
          ngModel
          required
          minlength = {{userConfig.nameLength}}
          #username="ngModel">
        <mat-hint> At least {{userConfig.nameLength}} characters </mat-hint>
        <mat-error *ngIf = "username.invalid"> Username is should be at least {{userConfig.nameLength}} characters long </mat-error>
    </mat-form-field>
    <!-- END -->
  
    <!-- PASSWORD -->
    <mat-form-field appearance = "legacy" color = "accent">
        <input 
          matInput 
          placeholder = "Password"
          name = "password"
          type = "password"
          ngModel
          required
          minlength = {{userConfig.passwordLength}}
          #password="ngModel">
        <mat-hint> At least {{userConfig.passwordLength}} characters </mat-hint>
        <mat-error *ngIf = "password.invalid"> Password is should be at least {{userConfig.passwordLength}} characters long </mat-error>
    </mat-form-field>
    <!-- END -->

    <!-- ROLE -->
    <mat-form-field appearance = "legacy" color = "accent">
      <mat-select 
          placeholder = "Role"
          name = "role"
          ngModel
          required
          #role_option = "ngModel">
          <mat-option
            *ngFor = "let role of userRoleOptions" 
            [value]="role">
            {{ role }}
          </mat-option>
      </mat-select>
      <mat-hint> Please select a role </mat-hint>
      <mat-error *ngIf = "userRoleOptions.invalid"> Please select one role </mat-error>
    </mat-form-field>
    <!-- END -->

    <!-- PROFILE PICTURE -->
    <mat-form-field appearance = "legacy" color = "accent">
      <input 
        matInput 
        type = "url"
        pattern="https?://\S+"
        placeholder = "Profile pic"
        name = "profile_pic"
        ngModel
        required
        #path = "ngModel">
      <mat-hint> Please enter profile pic to be uploaded </mat-hint> 
      <mat-error *ngIf="path.invalid"> Not a valid URL </mat-error>
    </mat-form-field>
    <!-- END -->

    <!-- DISPLAY NAME -->
    <mat-form-field appearance = "legacy" color = "accent">
      <input 
        matInput 
        placeholder = "Display name"
        name = "display_name"
        ngModel
        required
        minlength = {{userConfig.nameLength}}
        #displayname = "ngModel">
      <mat-hint> At least {{userConfig.nameLength}} characters </mat-hint>
      <mat-error *ngIf = "displayname.invalid"> Name is should be at least {{userConfig.nameLength}} characters long </mat-error>
    </mat-form-field>
    <!-- END -->

    <!-- EMAIL -->
    <mat-form-field appearance = "legacy" color = "accent">
      <input 
        matInput 
        placeholder = "Email"
        name = "email"
        type="email"
        ngModel
        required
        minlength = 4
        #email = "ngModel">
      <mat-hint> Please enter a valid email </mat-hint>
      <mat-error *ngIf = "email.invalid"> Not a valid email </mat-error>
    </mat-form-field>
    <!-- END -->

    <!-- country -->
    <mat-form-field appearance = "legacy" color = "accent">
      <input 
        matInput 
        placeholder = "Country"
        name = "country"
        type = "country"
        ngModel
        #country="ngModel">
      <mat-hint> Optional </mat-hint>
    </mat-form-field>
    <!-- END -->


    <!-- city -->
    <mat-form-field appearance = "legacy" color = "accent">
      <input 
        matInput 
        placeholder = "City"
        name = "city"
        type = "city"
        ngModel
        #city="ngModel">
      <mat-hint> Optional </mat-hint>
    </mat-form-field>
    <!-- END -->


    <!-- street -->
    <mat-form-field appearance = "legacy" color = "accent">
      <input 
        matInput 
        placeholder = "Street"
        name = "street"
        type = "street"
        ngModel
        #street="ngModel">
      <mat-hint> Optional </mat-hint>
    </mat-form-field>
    <!-- END -->

    <!-- house num -->
    <mat-form-field appearance = "legacy" color = "accent">
      <input 
        matInput 
        placeholder = "houseNum"
        name = "houseNum"
        type = "number"
        pattern = "\d+"
        ngModel
        #houseNum="ngModel">
      <mat-hint> Needs to be grater than 0 </mat-hint>
    </mat-form-field>
    <!-- END -->


    <button 
    mat-mini-fab 
    style="float: right;"
    type="submit">
      <mat-icon title="Login">done</mat-icon>  
    </button>
  </form>
  </mat-card>
