<mat-card>
  <form (submit)="onSubmit(newForm)" #newForm="ngForm">
      <!-- username -->
        <mat-form-field appearance = "legacy" color = "accent">
            <input 
              matInput 
              placeholder = "Username"
              name = "username"
              ngModel
              required
              minlength = {{minAttributeLength}}
              #username="ngModel">
            <mat-hint> At least {{minAttributeLength}} characters </mat-hint>
            <mat-error *ngIf = "username.invalid"> Username is should be at least {{minAttributeLength}} characters long </mat-error>
        </mat-form-field>
  
      <!-- password -->
        <mat-form-field appearance = "legacy" color = "accent">
            <input 
              matInput 
              placeholder = "Password"
              name = "password"
              type = "password"
              ngModel
              required
              minlength = {{minAttributeLength}}
              #password="ngModel">
            <mat-hint> At least {{minAttributeLength}} characters </mat-hint>
            <mat-error *ngIf = "password.invalid"> Password is should be at least {{minAttributeLength}} characters long </mat-error>
        </mat-form-field>

      <!-- role -->
        <mat-form-field appearance = "legacy" color = "accent">
          <mat-select 
              placeholder = "Role"
              name = "role"
              ngModel
              required
              #role_option = "ngModel">
              <mat-option
                *ngFor = "let role of role_options" 
                [value]="role">
                {{ role }}
              </mat-option>
          </mat-select>
          <mat-hint> Please select a role </mat-hint>
          <mat-error *ngIf = "role_option.invalid"> Please select one role </mat-error>
      </mat-form-field>


    <!-- USERNAME -->
    <mat-form-field appearance = "legacy" color = "accent">
        <input 
          matInput 
          placeholder = "Username"
          name = "username"
          ngModel
          required
          minlength = {{userConfig.nameLength}}
          #username="ngModel">
        <mat-hint> At least {{userConfig.nameLength}} characters </mat-hint>
        <mat-error *ngIf = "username.invalid"> Username is should be at least {{userConfig.nameLength}} characters long </mat-error>
    </mat-form-field>
    <!-- END -->
  
    <!-- PASSWORD -->
    <mat-form-field appearance = "legacy" color = "accent">
        <input 
          matInput 
          placeholder = "Password"
          name = "password"
          type = "password"
          ngModel
          required
          minlength = {{userConfig.passwordLength}}
          #password="ngModel">
        <mat-hint> At least {{userConfig.passwordLength}} characters </mat-hint>
        <mat-error *ngIf = "password.invalid"> Password is should be at least {{userConfig.passwordLength}} characters long </mat-error>
    </mat-form-field>
    <!-- END -->

    <!-- ROLE -->
    <mat-form-field appearance = "legacy" color = "accent">
      <mat-select 
          placeholder = "Role"
          name = "role"
          ngModel
          required
          #role_option = "ngModel">
          <mat-option
            *ngFor = "let role of userRoleOptions" 
            [value]="role">
            {{ role }}
          </mat-option>
      </mat-select>
      <mat-hint> Please select a role </mat-hint>
      <mat-error *ngIf = "userRoleOptions.invalid"> Please select one role </mat-error>
    </mat-form-field>
    <!-- END -->

    <!-- PROFILE PICTURE -->
    <mat-form-field appearance = "legacy" color = "accent">
      <input 
        matInput 
        type = "url"
        pattern="https?://\S+"
        placeholder = "Profile pic"
        name = "profile_pic"
        ngModel
        required
        #path = "ngModel">
      <!--TODO ???? maybe change to local file upload ?????????-->
      <mat-hint> Please enter profile pic to be uploaded </mat-hint> 
      <mat-error *ngIf="path.invalid"> Not a valid URL </mat-error>
    </mat-form-field>
    <!-- END -->

    <!-- DISPLAY NAME -->
    <mat-form-field appearance = "legacy" color = "accent">
      <input 
        matInput 
        placeholder = "Display name"
        name = "display_name"
        ngModel
        required
        minlength = {{userConfig.nameLength}}
        #displayname = "ngModel">
        <!-- ! TODO change every hard coded number -->
      <mat-hint> At least {{userConfig.nameLength}} characters </mat-hint>
      <mat-error *ngIf = "displayname.invalid"> Name is should be at least {{userConfig.nameLength}} characters long </mat-error>
    </mat-form-field>
    <!-- END -->

    <!-- EMAIL -->
    <mat-form-field appearance = "legacy" color = "accent">
      <input 
        matInput 
        placeholder = "Email"
        name = "email"
        type="email"
        ngModel
        required
        minlength = 4
        #email = "ngModel">
      <mat-hint> Please enter a valid email </mat-hint>
      <mat-error *ngIf = "email.invalid"> Not a valid email </mat-error>
    </mat-form-field>
    <!-- END -->

    <button 
    mat-mini-fab 
    style="float: right;"
    type="submit">
      <mat-icon title="Login">done</mat-icon>  
    </button>
  </form>
  </mat-card>
