<mat-card>
<form (submit)="onSubmit(newForm)" #newForm="ngForm">
	  <!-- username -->
      <mat-form-field appearance = "legacy" color = "accent">
          <input 
            matInput 
            placeholder = "Username"
            name = "username"
            ngModel
            required
            minlength = {{minAttributeLength}}
            #name="ngModel">
          <mat-hint> At least {{minAttributeLength}} characters </mat-hint>
          <mat-error *ngIf = "name.invalid"> Username is should be at least {{minAttributeLength}} characters long </mat-error>
      </mat-form-field>

      <!-- password -->
      <mat-form-field appearance = "legacy" color = "accent">
          <input 
            matInput 
            placeholder = "Password"
            name = "password"
            type = "password"
            ngModel
            required
            minlength = {{minAttributeLength}}
            #name="ngModel">
          <mat-hint> At least {{minAttributeLength}} characters </mat-hint>
          <mat-error *ngIf = "name.invalid"> Password is should be at least {{minAttributeLength}} characters long </mat-error>
      </mat-form-field>

        <button 
        mat-mini-fab 
        style="float: right;"
        type="submit">
          <mat-icon title="Login">done</mat-icon>  
        </button>
</form>
</mat-card>
