<!-- ! TODO add num of likes-->
<mat-accordion [class.col-sm-7]="selectedSong">
  
  <mat-expansion-panel *ngFor="let song of songs" (click)="onSelectSong(song)">
    <mat-expansion-panel-header>
      <mat-panel-title class="mat-h2">
          {{ song.name }}
      </mat-panel-title>
      <mat-panel-description class="mat-h3" *ngFor="let artist of song.artists">
        {{ artist }}
      </mat-panel-description>
      <mat-panel-description class="mat-h3">
        {{ num_of_times_liked }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p class="mat-h3">
        {{ song.release_date | date}}
    </p>

    <app-song-tool-bar [song]="selectedSong"></app-song-tool-bar>

  </mat-expansion-panel>
</mat-accordion>

<app-song-details [song]="selectedSong" [class.col-sm-7]="song" ></app-song-details>