<mat-accordion>
  <mat-expansion-panel *ngFor="let song of songs" (click)="onSelectSong(song)">
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{song.name}}
      </mat-panel-title>
      <mat-panel-description *ngFor="let artist of song.artists">
        {{artist}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-song-tool-bar [song]="selectedSong"></app-song-tool-bar>

  </mat-expansion-panel>

</mat-accordion>

<app-song-details [song]="selectedSong" ></app-song-details>