mat-panel-title, mat-panel-description p{
    margin: auto 10px;
    flex: none
}
mat-accordion {
    display: block;
    padding: 0;
    margin: 0 10px 10px 10px;
}

mat-paginator{
    margin: 10px;
}